

html{
  margin: 0;
}

.nazov{
  display: flex;
  align-self: center;
  justify-self: center;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: flex;
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 0.9fr 1.2fr 0.9fr;
  grid-template-rows: 0.4fr 2.3fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "top top top"
    "links center upg"
    "contact contact contact";
    margin: 0;
}
.top {
  grid-area: top;
  background: rgb(255, 255, 255);
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.137);
  transition: background-color .5s ease-out ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13.3vh;
  margin: 0;
}

.links {
  grid-area: links;
}

.upg {
  display: grid;
  grid-template-columns: 2.1fr 0.1fr 1fr;
  grid-template-rows: 0.7fr 0.7fr 1.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "upg1 . ."
    "upg2 . ."
    "upg3 . .";
  grid-area: upg;
  margin: 0;
}

.upg1 {
  grid-area: upg1;
}

.upg2 {
  grid-area: upg2;
}

.upg3 {
  grid-area: upg3;
}


.desc{
  margin-left: 8vw;
  text-align: center;
  position: absolute;
  display: flex;
  font-family: 'Poppins' ;
  font-size: 1vw;
  color: rgb(255, 255, 255);
  margin-top: 5vh;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.211);

}

#upga,#upgb,#upgc{
  text-align: right;
  position: absolute;
  display: flex;
  font-family: 'Poppins' ;
  font-size: 2vw;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.211);
  margin-top: 6vh;
  margin-left: 3.5vw;

}

.contact {
  grid-area: contact;
}

.center {
  display: grid;
  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  grid-template-rows: 0.8fr 1.3fr 0.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". text ."
    ". clicky ."
    ". clicky .";
  grid-area: center;
  background: rgba(255, 255, 255, 0.356);
  transition: background-color .5s ease-out ;
  margin: 0;
}

.clicky {
  grid-area: clicky;
}

.text {
  grid-area: text;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(
    to right top,
    #ffbb66,
    #ff9d8d,
    #ff91c4,
    #ce9bf2,
    #66aaff
  );
  transition: background-color .5s ease-out ;
  margin: 0;
}

#myImage {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: .5s ease-out ;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin: 0;
  
}

.tlac {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin: 0;
}
#clicky {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.349);
  font-size: 8vh;
  margin: 0;
}
.upgrade {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  float: left;
}
.upgrade .img-top {
  position: absolute;
  display: none;
  margin-top: -0em;
  margin-left: -7.5em;
}
.upgrade:hover .img-top {
  display: inline;
}

#bunnycost {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.349);
  font-size: 2.5vh;
  margin: 0;
}
.cisco {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  float: left;
  margin: 0;
}
.ChangeColor {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin: 0;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.blau {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin: 0;
}
.tmava {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin: 0;
}

.pastelka {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin: 0;
}

#ruter {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.349);
  font-size: 2.5vh;
  margin: 0;
}
#boomling {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.349);
  font-size: 2.5vh;
  text-align: center;
  margin: 0;
}
.bomba {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  float: left;
  margin: 0;
}
.contact{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffbb56;
  margin: 0;
  transition: background-color .5s ease-out ;

}
#kont {

  background-color: #ff9c40; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius:15%;
  margin: 0;
}

#kont:hover {
  background-color: #ff7b00;
  color: white;
  margin: 0;
}

#darkth{
  display: flex;
  align-self: flex-start;
  position: absolute;
  padding-left:20px ;
  cursor: pointer;
  margin: 0;
}

#science{
  display: flex;
  align-self: flex-start;
  position: absolute;
  margin-left: 6vw ;
  cursor: pointer;
}


@media only screen and (max-width: 500px) {
  .links {
    position: absolute;
    display: none;
  }
    #upga {
    position: absolute;
    display: none;
  }
      #upgb {
    position: absolute;
    display: none;
  }
      #upgc {
    position: absolute;
    display: none;
  }
  #science{
  margin-left: 15vw ;

}
}

